.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

body {
  background-color: #EFEDE4;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 980px;
    margin: 0 auto;
  }
}

.container-inner {
  padding: 0 38px;
}
@media screen and (min-width: 768px) {
  .container-inner {
    max-width: 768px;
    margin: 0 auto;
  }
}

.section {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 70px;
  }
}

h1,
h2,
h3,
.title,
.big {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 1.6;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

p,
li,
li a,
a,
label {
  font-size: 1.4rem;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  p,
  li,
  li a,
  a,
  label {
    font-size: 2rem;
    line-height: 1.4;
  }
}

p.small {
  font-size: 1.2rem;
}

.big {
  font-weight: 800;
}

.inner {
  padding: 0 15px;
}

.center {
  margin: 0 auto;
}

.tcenter {
  text-align: center;
}

.flex {
  display: flex;
}

@media screen and (min-width: 768px) {
  .pc-flex {
    display: flex;
  }
}
.bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.nav-app {
  padding: 0 40px;
  background-color: rgba(46, 185, 185, 0.42);
  margin: 0 auto;
  justify-content: space-around;
  position: relative;
}
@media screen and (min-width: 500px) {
  .nav-app {
    padding: 0 20px;
  }
}
.nav-app a:nth-of-type(2n) {
  margin-left: 20px;
}
.nav-app img {
  height: 60px;
  z-index: 999;
}

.block {
  width: 100%;
  height: 200px;
  background-color: #aaa;
}
@media screen and (min-width: 768px) {
  .block {
    height: 250px;
  }
}
.block .nav-app {
  position: relative;
  z-index: 99;
  bottom: calc(-200px + 60px + 50px);
}
@media screen and (min-width: 768px) {
  .block .nav-app {
    width: 40%;
  }
}

header {
  background-color: #fff;
}
header .header.flex {
  height: 70px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 3px #aaa;
}
header .logo {
  padding-left: 10px;
}

.pc-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc-nav {
    width: 100%;
    margin-left: 100px;
    display: block;
    background-color: blueviolet;
  }
}
@media screen and (min-width: 1080px) {
  .pc-nav {
    width: 60%;
  }
}
.pc-nav .sns {
  width: 10%;
  background-color: red;
  margin-right: 20px;
}

.pc-g-nav {
  justify-content: space-between;
  background-color: #adffff;
}
.pc-g-nav li a {
  margin-right: 20px;
  line-height: 60px;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}
.pc-g-nav .flex {
  background-color: greenyellow;
}

.menubox {
  background-color: #333;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}
.menu:hover {
  cursor: pointer;
}

.bar,
.bar::before,
.bar::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0 auto;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #ffffff;
}

.bar::before {
  content: "";
  top: -12px;
}
.bar::after {
  content: "";
  top: 12px;
}

.sp-nav {
  position: absolute;
  top: 0;
  right: -70%;
  transform: translate(0, 0);
  transition: 1s;
}
@media screen and (min-width: 768px) {
  .sp-nav {
    display: none;
  }
}
.sp-nav.click {
  transition: 1s;
  transform: translate(-100%, 0);
  z-index: 999;
}
.sp-nav .navinner {
  position: relative;
}
.sp-nav .menubox {
  position: absolute;
  left: -70px;
}

.main-navbox {
  width: 70vw;
  height: 100vh;
  padding: 90px 40px 30px;
  color: #fff;
  background-color: #716c5d;
  flex-direction: column;
  justify-content: space-between;
}
.main-navbox .nav-app {
  text-align: left;
}
.main-navbox .nav-app a:nth-of-type(2n) {
  margin-left: 0;
}

/*g-nav
-----------------------------------*/
.sp-g-nav {
  background-color: #12A249;
  flex-direction: column;
}
.sp-g-nav li a {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 20px;
}

.kv {
  padding-top: 30px;
}
.kv p {
  font-size: 1.6rem;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .kv p {
    font-size: 2.6rem;
  }
}
.kv li {
  font-size: 2rem;
  margin-left: 1.6rem;
}
.kv .sp-img {
  height: 50vh;
  margin-bottom: -200px;
}
@media screen and (min-width: 768px) {
  .kv .sp-img {
    margin-bottom: -250px;
  }
}
.kv .block {
  background-color: #12A249;
}

.message .block {
  background-color: #DEC090;
}

.future .contents {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-bottom: -60px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 3px #aaa;
}
@media screen and (min-width: 768px) {
  .future .contents {
    width: 100%;
    display: flex;
    padding: 40px 60px;
  }
}
.future .content {
  margin: 0 auto;
  padding: 18px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .future .content {
    width: calc((100%/3) - 20px);
    flex-direction: column;
  }
}
.future .box {
  margin-right: 20px;
  width: 85px;
  height: 85px;
  padding: 16px;
  border-radius: 20px;
  position: relative;
  background-color: #EDDE6D;
  box-shadow: 0 0 3px #aaa;
}
@media screen and (min-width: 768px) {
  .future .box {
    width: 180px;
    height: 180px;
    padding: 0;
    margin-bottom: 20px;
  }
}
.future .box img {
  width: 50px;
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .future .box img {
    width: 100px;
  }
}
.future .dot {
  width: 27px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .future .dot {
    margin-bottom: 10px;
  }
}
.future .block {
  background-color: #88BDF7;
}

@media screen and (min-width: 768px) {
  .use .tab-flex {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
.use .contents {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: -60px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 3px #aaa;
  padding: 40px 30px;
}
.use .contents .content {
  margin-bottom: 30px;
}
.use .contents .content .title.flex {
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.use .contents .content .txt {
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .use .contents .content .txt {
    font-size: 1.4rem;
  }
}
.use .contents .content .number {
  width: 40px;
  margin-right: 20px;
}
.use .contents .content .icon {
  width: 50px;
  margin-left: 40%;
}
.use .contents .content:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .use .contents {
    width: 50%;
  }
}
.use .swiper-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .use .swiper-container {
    display: block;
    width: 30%;
    height: 82vh;
  }
}
.use .block {
  position: relative;
  background-color: #EDDE6D;
  z-index: -99;
}

.search .img {
  width: 100%;
  margin-bottom: -80px;
}
@media screen and (min-width: 768px) {
  .search .img {
    width: 60%;
  }
}
.search .img2 {
  display: none;
}
@media screen and (min-width: 768px) {
  .search .img2 {
    width: 25%;
    margin-right: 20px;
    display: block;
  }
}
.search .imgflex {
  width: 100%;
  justify-content: space-around;
}
.search .block {
  background-color: #A2E379;
}

.support .box {
  padding: 20px 20px 0;
  margin: 0 auto;
  margin-bottom: -40px;
  background-color: rebeccapurple;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
@media screen and (min-width: 768px) {
  .support .box {
    width: 60%;
  }
}
.support .logo-box {
  width: calc((100%/4) - 20px);
  padding-top: calc((100%/4) - 20px);
  margin-bottom: 20px;
  border: 1px solid #aaa;
}
.support .box1 {
  background-image: url(../img/kasoulogo-1.png);
}
.support .box2 {
  background-image: url(../img/kasoulogo-2.png);
}
.support .box3 {
  background-image: url(../img/kasoulogo-3.png);
}
.support .box4 {
  background-image: url(../img/kasoulogo-4.png);
}
.support .box5 {
  background-image: url(../img/kasoulogo-5.png);
}
.support .box6 {
  background-image: url(../img/kasoulogo-6.png);
}
.support .box7 {
  background-image: url(../img/kasoulogo-7.png);
}
.support .box8 {
  background-image: url(../img/kasoulogo-8.png);
}
.support .block {
  background-color: #FFCA74;
}

.footer-upper {
  position: relative;
}
.footer-upper .box {
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 0%;
  bottom: 25%;
  right: 0%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
  .footer-upper .box {
    left: 25%;
    right: 25%;
    flex-direction: column;
  }
}
.footer-upper .flex {
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer-upper p {
  font-weight: 900;
  font-size: 2.5rem;
}
.footer-upper .nav-app {
  flex-wrap: nowrap;
}
.footer-upper .nav-app a:nth-of-type(2n) {
  margin-left: 20px;
}
.footer-upper .bg-box {
  width: 50%;
  padding-top: 50%;
}
@media screen and (min-width: 768px) {
  .footer-upper .bg-box {
    width: 20%;
    padding-top: 20%;
  }
}
.footer-upper .bg-box.none {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer-upper .bg-box.none {
    display: block;
  }
}
.footer-upper .box1 {
  background-image: url(../img/footer-1.jpg);
}
.footer-upper .box2 {
  background-image: url(../img/footer-2.jpg);
}
.footer-upper .box3 {
  background-image: url(../img/footer-3.jpg);
}
.footer-upper .box4 {
  background-image: url(../img/footer-4.jpg);
}
.footer-upper .box5 {
  background-image: url(../img/footer-5.jpg);
}
.footer-upper .box6 {
  background-image: url(../img/footer-6.jpg);
}
.footer-upper .box7 {
  background-image: url(../img/footer-7.jpg);
}
.footer-upper .box8 {
  background-image: url(../img/footer-8.jpg);
}
.footer-upper .box9 {
  background-image: url(../img/footer-9.jpg);
}
.footer-upper .box10 {
  background-image: url(../img/footer-10.jpg);
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
@media screen and (max-width: 360px) {
  footer {
    padding: 20px 5px;
  }
}
@media screen and (min-width: 768px) {
  footer {
    padding: 20px 15%;
  }
}
footer img {
  width: 120px;
}
footer a:hover {
  color: #fff;
}
footer .flex {
  justify-content: space-around;
}

/*# sourceMappingURL=style.css.map */
