@charset 'utf-8';

$base:#EFEDE4;
$main:#12A249;
$bl:#333;
$gr:#c7c7c7;
$wh:#fff;
$shadow:0 0 3px #aaa;
$border:1px solid #aaa;

@mixin mq-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mq-pc {
  @media screen and (min-width: 1080px) {
    @content;
  }
}


@for $btm from 1 through 10 {
  .mb#{$btm}0 {
    margin-bottom: 10px * $btm;
  }
}

body{
  background-color:$base;
}

.container{
    @include mq-tablet {
  max-width: 980px;
  margin: 0 auto;
  }
}
.container-inner{
  padding: 0 38px;
    @include mq-tablet {
  max-width: 768px;
  margin: 0 auto;
  }
}

.section{
  margin-bottom: 40px;
    @include mq-tablet {
      margin-bottom: 70px;
  }
}

//font
h1,
h2,
h3,
.title,
.big {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;

  @include mq-tablet {
    font-size: 6.2rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 1.6;

  @include mq-tablet {
    font-size: 4.8rem;
    line-height: 1.6;
  }
}

h3 {
  font-size: 1.6rem;
  line-height: 1.5;

  @include mq-tablet {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

p,
li,
li a,
a,
label {
  font-size: 1.4rem;
  line-height: 1.6;

  @include mq-tablet {
    font-size: 2rem;
    line-height: 1.4;

  }
}

p.small {
  font-size: 1.2rem;
}

.big {
  font-weight: 800;
}


//レイアウト
.inner {
  padding: 0 15px;
}

.center {
  margin: 0 auto;
}

.tcenter {
  text-align: center;
}

.flex {
  display: flex;
}

@include mq-tablet {
  .pc-flex {
    display: flex;
  }
}

  .bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }




.nav-app {
  padding: 0 40px;
  background-color: aqua;
  margin: 0 auto;
justify-content: space-around;
  position: relative;
  @media screen and (min-width: 500px) {
  padding: 0 20px ;
  }
      a:nth-of-type(2n) {
    margin-left: 20px;
  }

  img {
    height: 60px;
  z-index: 999;
  }
}

.block{
  width: 100%;
  height: 200px;
  background-color:#aaa;
    @include mq-tablet {
  height: 250px;
  }
  .nav-app{
  position: relative;
  z-index: 99;
      bottom: calc(-200px + 60px + 30px);
      @include mq-tablet {
    width: 40%;
    }
  }
}


//header

header {
  background-color:$wh;
  .header.flex {
    height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow;
      @include mq-tablet {
//        justify-content: flex-start;
    }
  }

  .logo {
    padding-left: 10px;
  }
}
.pc-nav {
  display: none;

  @include mq-tablet {
    width: 100%;
    margin-left: 100px;
    display: block;
    background-color: blueviolet;
  }
    @include mq-pc {
    width: 60%;
  }


  .sns {
    width: 10%;
    background-color: red;
    margin-right: 20px;
  }
}
.pc-g-nav{
    justify-content: space-between;
  background-color:rgba(173, 255, 255,1);
  li {

  a{
    margin-right: 20px;
    line-height: 60px;
          display: block;
      box-sizing: border-box;
      cursor: pointer;
  }
  }
  .flex {
  background-color:rgba(173, 255,47,1);
  }
}


.menu {
  &box {
    background-color: #333;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0;
    position: relative;
    z-index: 9999;
    cursor: pointer;

  }

  &:hover {
    cursor: pointer;
  }

  &.click {
    transition: 1s;
    transform: translate(0, 0);
    z-index: 999;
  }
}

.bar,
.bar::before,
.bar::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0 auto;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #ffffff;
}

.bar {
  &::before {
    content: "";
    top: -12px;
  }

  &::after {
    content: "";
    top: 12px;
  }
}


.sp-nav {
  position: absolute;
  top: 0;
  right: -70%;
  transform: translate(0, 0);
//      transform: translate(-100%, 0);
  transition: 1s;
    @include mq-tablet {
      display: none;
  }

  .navinner {
    position: relative;
  }

  .menubox {
    position: absolute;
    left: -70px;
  }
}

.main-navbox {
  width: 70vw;
  height: 100vh;
  padding: 90px 40px 30px;
  color: $wh;
  background-color: #716c5d;
  flex-direction: column;
  justify-content: space-between;
  .nav-app {
    text-align: left;
    a:nth-of-type(2n) {
      margin-left: 0;
    }
  }
}

/*g-nav
-----------------------------------*/
.sp-g-nav {
  background-color: $main;
  flex-direction: column;

  li {
    a {
      display: block;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }
}

.kv{
  padding-top: 40px;
  p{
    font-size:  1.6rem;
    text-align: right;
      @include mq-tablet {
    font-size: 2.6rem;
    }
  }
  .img{
    justify-content: space-around;
    margin-bottom:  -200px;
      @include mq-tablet {
    margin-bottom:  -250px;
    }
    img{
    width: 40%;
        @include mq-tablet {
          width: 30%;
      }
    }
  }
  .block{
    background-color:$main;
  }
}

.message{
    .block{
    background-color:#DEC090;
  }
}

.future {
  .contents {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: -60px;
    background-color: $wh;
    border-radius: 20px;
      box-shadow: $shadow;
      @include mq-tablet {
        display: flex;
      padding: 40px 60px;

    }
  }

  .content {
    margin: 0 auto;
    padding: 18px;
    display: flex;
    align-items: center;
//background-color:rebeccapurple;
    @include mq-tablet {
      width:calc((100%/3) - 20px);
//      padding: 20px;
      flex-direction: column;
    }
  }

  .box {
    margin-right: 20px;
    width: 85px;
    height: 85px;
    padding: 16px;
    border-radius: 20px;
    position: relative;
    background-color: #EDDE6D;
      box-shadow: $shadow;
  @include mq-tablet {
        width: 180px;
    height: 180px;
    padding: 0;

    margin-bottom: 20px;

}
    img {
      width: 50px;
      position: absolute;
      top: 20%;
      left: 0px;
      right: 0px;
      margin: 0 auto;
        @include mq-tablet {
      width: 100px;
      }
    }
  }

  .dot {
    width: 27px;
    margin-right: 20px;
      @include mq-tablet {
        margin-bottom: 10px
    }
  }

  .block {
    background-color: #88BDF7;
  }
}
.use{
    .block{
    background-color:#EDDE6D;
  }
}
.search{
    .img{
      width: 100%;
      margin-bottom: -80px;
      @include mq-tablet {
        width: 60%;
    }
  }
  .img2{
    display: none;
      @include mq-tablet {
    width:25%;
        margin-right: 20px;
        display: block;
    }
  }
  .imgflex{
    width: 100%;
    justify-content: space-around;
  }
    .block{
    background-color:#A2E379;
  }
}



.support{
  .box{
    padding: 20px 20px 0;
    margin: 0 auto;
    margin-bottom: -100px;
    background-color:rebeccapurple;
    justify-content: space-between;
    flex-wrap: wrap;
      @include mq-tablet {
    width: 60%;
//    margin-left: 40%;
    }
  }
  .logo-box {
    width:calc((100%/4) - 20px);
    padding-top: calc((100%/4) - 20px);
    margin-bottom: 20px;
    border: $border;
    }
    .box1 {
    background-image: url(../img/kasoulogo-1.png);
  }

  .box2 {
    background-image: url(../img/kasoulogo-2.png);
  }

  .box3 {
    background-image: url(../img/kasoulogo-3.png);
  }
    .box4 {
    background-image: url(../img/kasoulogo-4.png);
  }

  .box5 {
    background-image: url(../img/kasoulogo-5.png);
  }

  .box6 {
    background-image: url(../img/kasoulogo-6.png);
  }
  .box7 {
    background-image: url(../img/kasoulogo-7.png);
  }
  .box8 {
    background-image: url(../img/kasoulogo-8.png);
  }
    .block{
    background-color:#FFCA74;
  }
}


//footer

.footer-upper {
  position: relative;
//  big wire
  .box {
    padding:50px 20px;
    position: absolute;
    top: 25%;
    left: 0%;
    bottom: 25%;
    right: 0%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);

    @include mq-tablet {
      left: 25%;
      right: 25%;
      flex-direction: column;
    }
  }

  .flex {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  p{
    font-weight: 900;
    font-size: 2.5rem;
  }
  .nav-app{
    flex-wrap: nowrap;
      a:nth-of-type(2n) {
    margin-left: 20px;
  }
  }
//  back imgs
  .bg-box {
    width: 50%;
    padding-top: 50%;
      @include mq-tablet {
        width: 20%;
        padding-top: 20%;
    }
    &.none{
      display: none;
        @include mq-tablet {
          display: block;
      }
    }
  }

  .box1 {
    background-image: url(../img/footer-1.jpg);
  }

  .box2 {
    background-image: url(../img/footer-2.jpg);
  }

  .box3 {
    background-image: url(../img/footer-3.jpg);
  }

  .box4 {
    background-image: url(../img/footer-4.jpg);
  }

  .box5 {
    background-image: url(../img/footer-5.jpg);
  }

  .box6 {
    background-image: url(../img/footer-6.jpg);
  }

  .box7 {
    background-image: url(../img/footer-7.jpg);
  }

  .box8 {
    background-image: url(../img/footer-8.jpg);
  }

  .box9 {
    background-image: url(../img/footer-9.jpg);
  }

  .box10 {
    background-image: url(../img/footer-10.jpg);
  }
}



footer {
  background-color: $bl;
  color: $wh;
  text-align: center;
  @media screen and (max-width: 360px) {
    padding: 20px 5px;
  }
  padding: 10px;
  @include mq-tablet {
  padding: 20px 15%;
}
  img {
    width: 120px;
  }

  a:hover {
    color: $wh;
  }

  .flex {
    justify-content: space-around;
  }
}
