@charset 'utf-8';

$base:#EFEDE4;
$main:#12A249;
$bl:#333;
$gr:#c7c7c7;
$wh:#fff;
$shadow:0 0 3px #aaa;
$border:1px solid #aaa;

@mixin mq-tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mq-pc {
  @media screen and (min-width: 1080px) {
    @content;
  }
}


@for $btm from 1 through 10 {
  .mb#{$btm}0 {
    margin-bottom: 10px * $btm;
  }
}

body{
  background-color:$base;
}

.container{
    @include mq-tablet {
  max-width: 980px;
  margin: 0 auto;
  }
}
.container-inner{
  padding: 0 38px;
    @include mq-tablet {
  max-width: 768px;
  margin: 0 auto;
  }
}

.section{
  margin-bottom: 40px;
    @include mq-tablet {
      margin-bottom: 70px;
  }
}

//font
h1,
h2,
h3,
.title,
.big {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.2;

  @include mq-tablet {
    font-size: 4.2rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 1.6;
}

h3 {
  font-size: 1.6rem;
  line-height: 1.5;

  @include mq-tablet {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

p,
li,
li a,
a,
label {
  font-size: 1.4rem;
  line-height: 1.6;

  @include mq-tablet {
    font-size: 2rem;
    line-height: 1.4;

  }
}

p.small {
  font-size: 1.2rem;
}

.big {
  font-weight: 800;
}


//レイアウト
.inner {
  padding: 0 15px;
}

.center {
  margin: 0 auto;
}

.tcenter {
  text-align: center;
}

.flex {
  display: flex;
}

@include mq-tablet {
  .pc-flex {
    display: flex;
  }
}

  .bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

    .none{
      display: none;
        @include mq-tablet {
          display: block;
      }
    }



.nav-app {
  padding: 0 40px;
//  background-color: rgba(46, 185, 185, 0.42);
  margin: 0 auto;
justify-content: space-around;
  position: relative;
  @media screen and (min-width: 500px) {
  padding: 0 20px ;
  }
      a:nth-of-type(2n) {
    margin-left: 20px;
  }

  img {
    height: 60px;
  z-index: 999;
  }
}

.block{
  width: 100%;
  height: 200px;
  background-color:#aaa;
    @include mq-tablet {
  height: 250px;
  }
  .nav-app{
  position: relative;
  z-index: 99;
      bottom: calc(-200px + 60px + 50px);
      @include mq-tablet {
    width: 40%;
    }
  }
}



//header

header {
  background-color:$wh;
  .header.flex {
    height: 70px;
    justify-content: space-between;
    align-items: center;
    box-shadow: $shadow;
      @include mq-tablet {
    }
  }

  .logo {
    padding-left: 10px;
  }
}
.pc-nav {
  display: none;

  @include mq-tablet {
    width: 100%;
    margin-left: 100px;
    display: block;
  }
    @include mq-pc {
    width: 60%;
  }


  .sns {
    width: 10%;
//    background-color: red;
    margin-right: 20px;
  }
}
.pc-g-nav{
    justify-content: space-between;
  li {
  a{
    padding-left: 20px;
    text-align: center;
    line-height: 60px;
          display: block;
      box-sizing: border-box;
      cursor: pointer;
  }
    img{
      width: 20px;
      height: 20px;
      margin-right: 16px;
    }
  }
  .flex {
    width: 100%;
  }
}


.menu {
  &box {
    background-color: #716c5d;
    display: inline-block;
    width: 70px;
    height: 70px;
    margin: 0;
    position: relative;
    z-index: 9999;
    cursor: pointer;

  }

  &:hover {
    cursor: pointer;
  }
}


.bar,
.bar::before,
.bar::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0 auto;
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #ffffff;
}

.bar {
  &::before {
    content: "";
    top: -12px;
  }

  &::after {
    content: "";
    top: 12px;
  }
}


.sp-nav {
  position: absolute;
  top: 0;
  right: -70%;
  transform: translate(0, 0);
  transition: 1s;
    @include mq-tablet {
      display: none;
  }
&.click {
    transition: 1s;
      transform: translate(-100%, 0);
    z-index: 999;
  }

  .navinner {
    position: relative;
  }

  .menubox {
    position: absolute;
    left: -70px;
  }
}

.main-navbox {
  width: 70vw;
  height: 100vh;
  padding: 90px 40px 30px;
  color: $wh;
  background-color: #716c5d;
  flex-direction: column;
  justify-content: space-between;
  .nav-app {
    text-align: left;
    a:nth-of-type(2n) {
      margin-left: 0;
    }
  }
}

/*g-nav
-----------------------------------*/
.sp-g-nav {
  flex-direction: column;

  li {
    a {
      display: block;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }
}

.kv{
  padding-top: 40px;
    background: url(../img/kv3.jpg) no-repeat right/cover;
    text-shadow: $shadow;
  p{
    font-size:  2.2rem;
    text-align: right;
      @include mq-tablet {
    font-size: 2.6rem;

    }
  }
  li{
    font-size: 2rem;
    margin-left: 1.6rem;
  }
  .sp-img{
    height: 50vh;
    margin-bottom: -200px;
      @include mq-tablet {
    margin-bottom: -200px;
    }
}
  .block{
        height: 200px;
    background-color:$main;
      @include mq-tablet {
        height: 200px;
    }
  }
}

.message{
  .inner{
    position: relative;
  }
  .img{
    opacity: 0.8;
    position: absolute;
    top:0px;
    right: 0;
    z-index: -9;
    transform: rotate(10deg);
      @include mq-tablet {
    top:-50px;
    }
  }
    .block{
    background-color:#DEC090;
  }
}

.future {
  .contents {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: -40px;
    background-color: $wh;
    border-radius: 20px;
      box-shadow: $shadow;
    @media screen and (max-width: 600px) {
      width: 90%;
    }
      @include mq-tablet {
        width: 100%;
        display: flex;
      padding: 40px 60px;
    }
  }

  .content {
    margin: 0 auto;
    padding: 18px;
    display: flex;
    align-items: center;
    @include mq-tablet {
      width:calc((100%/3) - 20px);
      flex-direction: column;
    }
  }

  .box {
//    margin-right: 20px;
//    width: 85px;
//    height: 85px;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    background-color: #EDDE6D;
      box-shadow: $shadow;
  @include mq-tablet {
        width: 180px;
    height: 180px;
    padding: 0;

    margin-bottom: 20px;

}
    img {
      width: 50px;
      position: absolute;
      top: 20%;
      left: 10%;
      right: 10%;
      margin: 0 auto;
        @include mq-tablet {
      width: 100px;
      }
    }
  }

  .dot {
    width: 27px;
    margin:0 16px;
      @include mq-tablet {
        margin-bottom: 10px
    }
  }

  .block {
    background-color: #88BDF7;
  }
}
.use{
    @include mq-tablet {
  .tab-flex{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color:$wh;
    border-radius: 20px;
    width: 90%;
    padding: 30px 0;
    margin-bottom: 60px;
  }
  }
    .contents {
      width: 100%;
      margin: 0 auto;
      position: relative;
      margin-bottom: -60px;
      background-color: $wh;
      border-radius: 20px;
      box-shadow: $shadow;
      padding: 40px 30px;

      @include mq-tablet {
        width: 40%;
        box-shadow: none;
        background-color:rgba(255, 255, 255, 0);
      }

      .content {
        margin-bottom: 30px;

        .title.flex {
          width: 100%;
          margin-bottom: 10px;
          align-items: center;
        }

        .txt {
          margin-left: 16px;

          @include mq-tablet {
            font-size: 1.4rem;
          }
        }

        .number {
          width: 40px;
          margin-right: 20px;
        }

        .icon {
          width: 50px;
          margin-left: 40%;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

  }
//swiper
  .swiper-container{
    display: none;
      @include mq-tablet {
    display: block;
    width: 33%;
    height: 85vh;
    }
  }
  .swiper-slide{
//    width: 50%;
  }
    .block{
        position: relative;
    background-color:#EDDE6D;
        z-index: -99;
  }
}
.search{
    .img{
      width: 100%;
      margin-bottom: -60px;
      @include mq-tablet {
        width: 60%;
    }
  }
  .tab-flex{
      @include mq-tablet {
        width: 100%;
        display: flex;
        align-items: center;
    justify-content: space-around;
    .txt{
      margin-top: 150px;
    }
    }
  }
    .block{
    background-color:#A2E379;
  }
}



.support{
  .box{
    padding: 10px 10px 0;
    margin-bottom: -40px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
      @include mq-tablet {
    padding: 20px 20px 0;
    width: 80%;
    margin-left: 20%;
    }
  }
  .logo-box {
    width:calc((100%/4) - 10px);
    padding-top: calc((100%/4) - 10px);
    margin-bottom: 10px;
    box-shadow: $shadow;
      @include mq-tablet {
    margin-bottom: 20px;
            width:calc((100%/4) - 20px);
    padding-top: calc((100%/4) - 20px);

    }
    }
    .box1 {
    background-image: url(../img/kasoulogo-1.png);
  }

  .box2 {
    background-image: url(../img/kasoulogo-2.png);
  }

  .box3 {
    background-image: url(../img/kasoulogo-3.png);
  }
    .box4 {
    background-image: url(../img/kasoulogo-4.png);
  }

  .box5 {
    background-image: url(../img/kasoulogo-5.png);
  }

  .box6 {
    background-image: url(../img/kasoulogo-6.png);
  }
  .box7 {
    background-image: url(../img/kasoulogo-7.png);
  }
  .box8 {
    background-image: url(../img/kasoulogo-8.png);
  }
    .block{
    background-color:#FFCA74;
  }
}


//footer

.footer-upper {
  padding: 50px;
  position: relative;
//  big wire
  .box {
    padding:20px;
    position: absolute;
    top: 25%;
    left: 0%;
    bottom: 25%;
    right: 0%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);

    @include mq-tablet {
      left: 15%;
      right: 15%;
      flex-direction: column;
    }
  }

  .flex {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  p{
    font-weight: 900;
    font-size: 2.5rem;
  }
  .nav-app{
    flex-wrap: nowrap;
      a:nth-of-type(2n) {
    margin-left: 20px;
  }
  }
//  back imgs
  .bg-box {
    width: 50%;
    padding-top: 50%;
      @include mq-tablet {
        width: 20%;
        padding-top: 20%;
    }
  }

  .box1 {
    background-image: url(../img/footer-1.jpg);
  }

  .box2 {
    background-image: url(../img/footer-2.jpg);
  }

  .box3 {
    background-image: url(../img/footer-3.jpg);
  }

  .box4 {
    background-image: url(../img/footer-4.jpg);
  }

  .box5 {
    background-image: url(../img/footer-5.jpg);
  }

  .box6 {
    background-image: url(../img/footer-6.jpg);
  }

  .box7 {
    background-image: url(../img/footer-7.jpg);
  }

  .box8 {
    background-image: url(../img/footer-8.jpg);
  }

  .box9 {
    background-image: url(../img/footer-9.jpg);
  }

  .box10 {
    background-image: url(../img/footer-10.jpg);
  }
}



footer {
  background-color: $bl;
  color: $wh;
  text-align: center;
  padding: 20px;
  @media screen and (max-width: 360px) {
    padding: 20px 5px;
  }
  @include mq-tablet {
  padding: 40px 15%;
}
  ul{
    margin: 0 auto;
    padding: 0 10%;
      @include mq-tablet {
    padding: 0 15%;
    }
  }
  img {
    width: 120px;
  }

  a:hover {
    color: $wh;
  }

  .flex {
    justify-content: space-around;
  }
}
